#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.desingX{
  border: 1px solid gray;
  color: red;
  width: 5rem;
  height: 4rem;

}
.desingX:hover{
  color: gold;
  background-color: gray;
  border: 2px solid rgb(120, 103, 9);
  
}
.xRow{
  display: flex;
}
.status{
  color: rgb(155, 10, 196);
  font-weight: bold;
}
.ganador{
  color:red;
  font-size: 4rem;

}


.tittleOldWOman{
  color: rgba(240, 239, 239, 0.95);
  animation:shadows 2s infinite;
 
}

@keyframes shadows {
  0% {
    text-shadow: 0 0 10px red;
    transform: rotateX(75deg) translateY(-100%) ;
  }
  25% {
    text-shadow: 0 0 10px blue;
  }
  50% {
    text-shadow: 0 0 10px green;
  }
  75% {
    text-shadow: 0 0 10px yellow;
  }
  100% {
    text-shadow: 0 0 10px red;
  }
}

.moves {
  background-color: #88888800;
  color: aqua;
}
